<div class="class-menu">
  <div class="menu-item" {% if request.path == '/idm/' %}id="menu-item-hover"{% endif %} ><a href="/idm/">Discuss M</a></div>
  <div name="diff_manage" class="menu-item" {% if request.path == '/idm/info/' %}id="menu-item-hover"{% endif %} ><a href="/idm/info/">Info M</a></div>
  <div name="rules_manage" class="menu-item" {% if request.path == '/fm/rules/' %}id="menu-item-hover"{% endif %} ><a href="/fm/rules/">Share M</a></div>
  <div name="rules_manage" class="menu-item" {% if request.path == '/fm/rules/' %}id="menu-item-hover"{% endif %} ><a href="/fm/rules/">About</a></div>
</div>

<div class="ui section divider" style="width: 130%; margin-left: -180px;"></div>
