<!DOCTYPE html5>
<html>
  <head>
    <title>Login - WAM</title>
    <link rel="stylesheet" type="text/css" href="/static/wam.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/components/site.css">

    <link rel="stylesheet" type="text/css" href="/static/dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/components/grid.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/components/menu.css">

    <link rel="stylesheet" type="text/css" href="/static/dist/components/divider.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/components/segment.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/components/form.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/components/input.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/components/message.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/components/icon.css">

    <script src="/static/jquery.min.js"></script>
    <script src="/static/dist/semantic.min.js"></script>

    <style type="text/css">
      body {
        background-image: url('/static/images/bg-img1.jpg');
        background-repeat: repeat;
        background-attachment: fixed;
        background-position: center top;
      }
      body > .grid {
        height: 100%;
      }
      .image {
        margin-top: -100px;
      }
      .column {
        max-width: 450px;
      }
    </style>
  </head>
  <body>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <div class="ui message">
      <h2 class="ui teal image header">
        <div class="wam-avatar">W</div>
        <div class="content" style="margin-top:10px; margin-left:10px; color:#636262;">
          Log-in to your account (LDAP)
        </div>
      </h2>
    </div>
      <form class="ui large form" method="post" action="/login/">
        {% csrf_token %}
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <button class="ui fluid large blue submit button">Login</button>
        </div>

        <div class="ui error message"></div>

      </form>
    </div>
  </div>
  </body>
</html>
