<div class="class-menu">
  <div class="menu-item" {% if request.path == '/fm/' %}id="menu-item-hover"{% endif %} ><a href="/fm/">FM Index</a></div>
  <div name="diff_manage" class="menu-item" {% if request.path == '/fm/diff/' %}id="menu-item-hover"{% endif %} ><a href="/fm/diff/">Diff Manage</a></div>
  <div name="rules_manage" class="menu-item" {% if request.path == '/fm/rules/' %}id="menu-item-hover"{% endif %} ><a href="/fm/rules/">Rules</a></div>
</div>

<div class="ui section divider" style="width: 130%; margin-left: -180px;"></div>
